Button {
    -fx-cursor: hand;
}

#mainBox {
    -fx-padding: 75 50 75 50;
}

#pointsLabel {
    -fx-font-size: 45px;
    -fx-font-weight: bold;
}

#gainLabel {
    -fx-font-size: 20px;
}

#mainButton {
    -fx-border-color: rgb(150, 85, 30);
    -fx-border-width: 5px;

    -fx-padding: 0;
}

#mainButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#mainButton:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.purchaseBuilding, .upgradeBuilding {
    -fx-alignment: center-left;
}
