#mainBox {
    -fx-padding: 75 50 75 50;
}

#pointsLabel {
    -fx-font-size: 45px;
    -fx-font-weight: bold;
}

#gainLabel {
    -fx-font-size: 20px;
}

#mainButton {
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 3, 3);
    -fx-cursor: hand;
}

#mainButton:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#mainButton:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#buildingsBox {
    -fx-border-color: black;
    -fx-border-width: 1px 0 1px 0;
}

.button {
    -fx-text-fill: black;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-border-color: black;
    -fx-cursor: hand;
}

.upgrade {
    -fx-alignment: center;
    -fx-background-color: rgb(230, 160, 0);
    -fx-border-width: 2px;
}

.upgrade:hover {
    -fx-background-color: rgb(230, 180, 30);
}

.upgrade:pressed {
    -fx-background-color: rgb(230, 200, 60);
}

.buildingPurchase {
    -fx-alignment: center-left;
    -fx-background-color: rgb(150, 115, 65);
    -fx-border-width: 1px 1px 1px 2px;
}

.buildingPurchase:hover {
    -fx-background-color: rgb(165, 130, 80);
}

.buildingPurchase:pressed {
    -fx-background-color: rgb(180, 145, 95);
}

.buildingUpgrade {
    -fx-alignment: center-left;
    -fx-background-color: rgb(125, 95, 55);
    -fx-border-width: 1px 2px 1px 1px;
}

.buildingUpgrade:hover {
    -fx-background-color: rgb(140, 110, 70);
}

.buildingUpgrade:pressed {
    -fx-background-color: rgb(155, 125, 85);
}
